# 모평균검정-Python
게의 평균체온 24.3도의 모평균 검정
H0(귀무가설) : =24.3 / H1(대립가설) : <>24.3
pandas와 numpy 패키지 설치   # shift + enter : 실행 #as : 앨리어스(쪼개서쓰겠다)

In [34]:
import pandas as pd
import numpy as np

In [35]:
#파일 불러오기
f=open("c:/data/rpy/crab.txt","r")

In [36]:
#f.read() : 읽은 데이터를 문자로 저장
crab=f.read()
print(crab)

   25.8  24.6  26.1  22.9  25.1  27.3  24.0  24.5  23.9  26.2
   24.3  24.6  23.3  25.5  28.1  24.8  23.5  26.3  25.4  25.5
   23.9  27.0  24.8  22.9  25.4

In [37]:
#파일의 타입 파악하기
type(crab)

str

In [38]:
#crab.split() : 불러온 문자를 리스트로 저장하기
crab=crab.split()

In [39]:
print(crab)

['25.8', '24.6', '26.1', '22.9', '25.1', '27.3', '24.0', '24.5', '23.9', '26.2', '24.3', '24.6', '23.3', '25.5', '28.1', '24.8', '23.5', '26.3', '25.4', '25.5', '23.9', '27.0', '24.8', '22.9', '25.4']

In [40]:
#실수형 리스트로 변환하기 : 변수x에 crab에 있는 원소개체를 반복문으로 실수형으로 변환하기
fcrab=[float(x) for x in crab]
fcrab[0:5] #0이상 5미만

[25.8, 24.6, 26.1, 22.9, 25.1]

In [41]:
type(crab)

list

In [42]:
type(fcrab[1])

float

In [43]:
#stats .scipy 모듈 불러오기
#stats.ttest_1samp : stats 모듈의 ttest_1samp 함수
from scipy import stats
crab_ttest=stats.ttest_1samp(fcrab,24.3)
crab_ttest

Ttest_1sampResult(statistic=2.7127692953052716, pvalue=0.01214553724164843)

In [44]:
##T value와 P-value 출력하기
print("T=value = %.3f, p-value = %.3f" % crab_ttest) #.3f 소수점 3자리까지/포맷
#최종결과 : p-value가 0.012이므로 유의수준 0.05보다 작다. 따라서 귀무가설을 기각한다.
#그러므로 유의수준 0.05에서 게의 평균체온이 24.3도라고 할 수 없다.

T=value = 2.713, p-value = 0.012

In [45]:
#참고
print("T-value =%.3f" %crab_ttest[0],"P-value=%.3f" %crab_ttest[1])

T-value =2.713 P-value=0.012

# 두 독립표본 평균 검정-R
#두 종류의 지혈제를 비교하여 평균의 차이가 있는지 검정
#H0:mu1=mu2 / H1:mu1!=mu2 / 유의수준 alpha=0.05

In [ ]:
#stats 패키지의 scipy 모듈 불러오기
import pandas as pd
from scipy import stats

In [46]:
#파일 불러오기
drug=pd.read_csv("c:/data/rpy/drug.csv")
drug.columns

Index(['drug', 'time'], dtype='object')

In [47]:
#조건이 들어가서 loc로 사용/ind : 독립
drugB=drug.loc[drug.drug=='B','time']
drugG=drug.loc[drug.drug=='G','time']
#drugB=drug[drug.drug=='B'].'time'
#drugG=drug[drug.drug=='G'].'time'
drug_ttest=stats.ttest_ind(drugB, drugG, equal_var=False) #등분산이 X, 이분산O(분산이다르다) 가정

In [48]:
drug_ttest

Ttest_indResult(statistic=-2.545400506120506, pvalue=0.027737003664852006)

In [49]:
print("T-value =%.3f" %drug_ttest[0],"P-value=%.3f" %drug_ttest[1])

T-value =-2.545 P-value=0.028

# 짝지어진 표본에서 평균 검정
#사슴 앞다리와 뒷다리의 길이차이

In [ ]:
#stats 패키지의 scipy 모듈 불러오기
import pandas as pd
from scipy import stats

In [50]:
#파일 불러오기
deer=pd.read_csv("c:/data/rpy/deer.csv")
deer.head() #파이썬은 5개/ R은 6개

   id  hleg  fleg
0   1   142   138
1   2   140   136
2   3   144   147
3   4   144   139
4   5   142   143

In [51]:
#perform paired t-test
deer_pttest=stats.ttest_rel(deer.hleg, deer.fleg) 
deer_pttest
print("T-value=%.3f,P-value=%.3f"%deer_pttest) #전후차이가있다.

T-value=3.414,P-value=0.008